<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Корзина</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <link rel="icon" href="data:,">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
<div class="footer">
    <button onclick="location.href='index.html'">Магазин</button>
    <button onclick="location.href='order.html'">Заказы</button>
</div>

<script>

</script>
</body>
</html>